/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
    /* Add background image */
    background-image: url('pro2.jpg');
    /* Set background image properties */
    background-size: cover; /* Adjust as needed */
    background-position: center top; /* Move the background image down */
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(47, 47, 47, 0.1);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.logo {
    display: inline-block;
    max-width: 200px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px 0;
}

.left-text {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff; /* Example color */
    font-size: 18px; /* Example font size */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cta-button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #787a47;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.4);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
